.Icon-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
}

.Icon-container-check {
    position: absolute;
    left: 12px;
}

.Icon-container-check--active {
    color: #4caf50;
}

.Icon-container-delete {
    position: absolute;
    top: -4px;
    right: 0px;
}
.Icon-svg {
    width: 24px;
    height: 24px;
}
.Icon-container-delete:hover .Icon-svg {
    fill: red;
}
.Icon-container-check:hover .Icon-svg {
    fill: green;
}